$text-primary-500: hsl(228, 12%, 48%);
$text-primary-700: hsl(212, 21%, 14%);

$text-accent-500: hsl(158, 36%, 37%);
$text-accent-700: #1a4032;

$bg-primary-100: hsl(30, 38%, 92%);
$bg-neutral-000: hsl(0, 0%, 100%);

$fs-060: 0.75rem;
$fs-065: 0.8125rem;
$fs-070: 0.875rem;
$fs-160: 2rem;

$ff-montserrat: 'Montserrat', sans-serif;
$ff-frances: 'Fraunces', serif;

$box-shadow-500: rgba(0, 0, 0, 0.25);
